<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.se.mapper.DoctorMapper">
	<resultMap type="Doctor" id="DoctorResultMap">
		<id column="doctor_id" property="doctorId"/>
		<result column="doctor_name" property="doctorName"/>
		<result column="age" property="age"/>
		<result column="phone" property="phone"/>
		<result column="mail" property="mail"/>
		<result column="dept_name" property="deptName"/>
		<result column="status" property="status"/>
		<result column="account_id" property="accountId"/>
		<result column="account" property="account"/>	
		<result column="type" property="typeVal"/>				
	</resultMap>
	
	<resultMap type="Case" id="CaseResultMap">
		<id column="case_id" property="id"/>
		<result column="doctor_name" property="doctorName"/>
		<result column="patient_name" property="patientName"/>
		<result column="prescription" property="pres"/>			
		<result column="description" property="desc"/>
	</resultMap>
	
	<select id="GetDoctor" resultMap="DoctorResultMap">
		Select doctor_id, doctor_name, age, phone, mail, dept_name, status, Doctors.account_id as account_id, Accounts.account as account, Accounts.type as type
			From Doctors 
			Join Accounts on Doctors.account_id = Accounts.account_id
			Join Dept on Doctors.dept_id = Dept.dept_id
			Where Doctors.account_id = #{accountId};
	</select>
	
	<select id="GetDoctorInfo" resultType="DoctorInfo">
		select * from DoctorInfo where doctor_id = #{doctorId};
	</select>
	
	<update id="UpdateProfile" parameterType="Doctor">
		update Doctors
		set doctor_name = #{doctorName},age = #{age},phone=#{phone},mail=#{mail}
		where Doctors.doctor_id = #{doctorId};  
	</update>
	
	<update id="UpdateInfo" parameterType="DoctorInfo">
		update DoctorInfo
		set description = #{description}
		where DoctorInfo.doctor_id = #{doctorId};  
	</update>
	
	<select id="GetAllowance" resultType="Integer">
		select allowance from timeslot
		where doctor_id=#{id} and month_day=#{date} and time_slot=#{time} ;
	</select>
	
	<update id="UpdateAllowance">
		update timeslot
		set allowance = #{new_allow}
		where time_slot_id = #{timeslot_id};  
	</update>
	
	<select id="GetAllCases" resultMap="CaseResultMap">
		select case_id, Doctors.doctor_name, Patients.patient_name, prescription, description
		from Cases join Doctors on Cases.doctor_id = Doctors.doctor_id
		join Patients on Cases.patient_id = Patients.patient_id
		where Cases.doctor_id=#{id};
	</select>
	
	<select id="GetDoctorById" resultMap="DoctorResultMap">
		select * from Doctors join Dept on Doctors.dept_id = Dept.dept_id where doctor_id = #{doctorId};
	</select>
	
</mapper>